/* *{ */
    /* margin: 0; */
    /* padding: 0; */
/* } */
/*  */
h1 {
    margin-left: 80px;
    margin-top: 120px; 
    }

h2 {
        margin-left: 80px;    
}
 /* Классы для основного блока. */
.post {
    margin-left: 80px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding: 21px;
    background-color: 	#f5f5f5;
}

p {
    color: #f5f5f5;
}

.post_2 {
    background-color:#34495E;
    margin-left: 5px;
    border-radius: 20px;
    padding: 21px;
    margin-bottom: 15px;
            
}

h3 {
    margin-left: 10px;
    font-size: 22px;
}
/* классы для требований к заданию */
.spisok_1 {
            margin-left: 100px;
            font-size: 22px;
}


h5 {
    font-style: oblique; /*курсив*/
    text-decoration: underline; /*подчеркивание*/
    margin-left: 120px;
    font-size: 20px;
}
    
