* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

.modal_wrapper {
    background: #ffffff;
    position: absolute;
    width: 1260px;
    height: 1332px;
    left: 170px;
    top: 300px;
}

.modal_wrapper_title {
    height: 74px;
    width: 867px;
    margin: 86px 196px 9px 197px;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
}

.modal_wrapper_text {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    color: #00548E;
}

.d_para_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9px 100px 74px 100px;
}

.para_column_text {
    height: 96px;
    width: 500px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.paragraf_body {
    padding-left: 160px;
    padding-right: 100px;
}

.in_paragraf_items_position {
    display: flex;
    flex-direction: row;
    padding-bottom: 69px;
}

.margin_spisok_block {
    margin-top: 90px;
}

.in_paragraf_text_position {
    display: flex;
    flex-direction: column;
    padding-left: 30px
}

.in_paragraf_text_title {
    height: 42px;
    left: 276px;
    top: 339px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 140%;

    color: #00548E;
}

.in_paragraf_text_text {
    width: 884px;
    height: 30px;
    left: 276px;
    top: 391px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #696B7A;
}

.tri_spiska {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #696B7A;

}

.spisok1 {
    position: absolute;
    width: 107px;
    height: 87px;
    left: 306px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #696B7A;

}

.spisok2 {
    position: absolute;
    width: 158px;
    height: 87px;
    left: 448px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #696B7A;
}


.spisok3 {
    position: absolute;
    width: 239px;
    height: 87px;
    left: 632px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;

    color: #696B7A;
}

li:before {
    content: "• ";
}

li {
    list-style: none;
}
